
@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <h2 class="Orange">Contact</h2>

        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <span class="glyphicon glyphicon-earphone"></span> 073 025 41 53
                </div>
            </div>
        </div>
    </div>
</div>

