<!--TODO: adapt for mobiles and create views for contact and projects.-->
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <!--Welcome message and self description-->
    <row>
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-md-8 col-lg-8">
            <div class="page-header">
                <h2>Welcome!</h2>

                <p>
                    Now I know what you might be thinking "Ohh another bootstrap page!" and you're right, it <strong>is</strong>
                    just another bootstrap page. <strong>BUT</strong> this is a special bootstrap page; it's mine!
                </p>
                <p>
                    So who am I you might be asking?
                </p>
            </div>

            <p id="SelfDescription">
                I am a software development student at Östra Gymnasiet in Skogås, Sweden  and I have a passion for problem solving and
                creating creative solutions. In my work I strive to be a good teamplayer and to work with an open mind meaning I listen and
                always try to look from another perspective.
            </p>
            <p>
                My goals are to always learn new things, to be a good team asset and to deliever the highest quality software I can.
            </p>
        </div>
        <div class="col-md-3 col-lg-3"></div>
    </row>
    <!--Images-->
    <div id="imageRow">
        <row>
            <div class="col-md-4">
                <a href="/Home/Projects">
                    <div class="circle-image-link" style="background-image:url(../Resources/projectsImg.jpg)">
                        <p class="circle-image-text">Projects</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Home/Contact">
                    <div class="circle-image-link" style="background-image:url(../Resources/contactImg.jpg)">
                        <p class="circle-image-text">Contact</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://github.com/JesperOscarsson">
                    <div class="circle-image-link" style="background-image:url(../Resources/githubImg.png)">
                        <p class="circle-image-text">Github</p>
                    </div>
                </a>
            </div>
        </row>
    </div>
</div>
