
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="page-header">
        <h2>Welcome!</h2>
    </div>
    <p>Now I know what you might be thinking "Ohh another bootstrap page!" and you're right, it <strong>is</strong> just another bootstrap page. <strong>BUT</strong> this is a special bootstrap page; it's mine!</p>
    <p>So who am I you might be asking?</p>
</div>
