<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/StyleSheetMain.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="col-md-1"></div>
            <!--Home button-->
            <div class="navbar-header">
                <a class="navbar-brand " href="/"><span class="glyphicon glyphicon-home"></span></a>
            </div>    
            <!--Dropdown menus-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Color Scheme<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>Test</li>
                        <li>Test2</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quick View<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#SelfDescription">About Me</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Github</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    @RenderBody()

</body>
</html>
