<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/Scripts.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/StyleSheetMain.css" title="light" rel="stylesheet" />
    <link href="~/StyleSheetDark.css" title="dark" rel="alternate stylesheet" />  
</head>
<body onload="set_style_from_cookie()">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="col-md-1"></div>
            <!--Home button-->
            <div class="navbar-header">
                <a class="navbar-brand " href="/"><span class="glyphicon glyphicon-home"></span></a>
            </div>    
            <!--Dropdown menus-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Color Scheme<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a onclick="switch_style('light');return false;" name="theme" value="Light Theme" id="light">Light</a></li>
                        <li><a onclick="switch_style('dark');return false;" name="theme" value="Dark Theme" id="dark">Dark</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quick View<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/Home/Projects">Projects</a></li>
                        <li><a href="#SelfDescription">About Me</a></li>
                        <li><a href="/Home/Contact">Contact</a></li>
                        <li><a href="https://github.com/JesperOscarsson">Github</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    @RenderBody()

</body>
</html>
