
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link href="~/GlobalStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="MainText">
        <h1>
            I DEVELOPE, MAINTAIN AND IMPROVE SOFTWARE
        </h1>
        <p>
            I am a software development student at Östra in Skogås, Sweden with a passion for problem solving and implementing creative solutions.
            My goals are to create a better workplace through good communication, being open-minded and a good teamplayer; all while delivering high quality products.
        </p>
            
            <div style="text-align: center; margin-top: 5%;">
                <a href="/">Home</a>
            </div>
    </div>
</body>
</html>
