
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/GlobalStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="MainText">
        <h1>
            WELCOME TO MY PERSONAL PAGE
        </h1>
        <p>
            Hi! I am Jesper Oscarsson and this is a personal page dedicated to showing my past and current projects. 
            In the future a link gallery might be added and a page for showcasing projects.
        </p>

        <div style="text-align: center; margin-top: 5%;">
            <a href="/Home/About">About</a>
        </div>
    </div>
</body>
</html>
