
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/GlobalStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h2>XXX Ultimate Promotion Page XXX</h2>
    </header>  
     <div>
         <aside>
             <a href="./Views/Home/Index.cshtml">Home</a>
             <br>
             <a href="~/Views/Home/About.cshtml">About</a>
         </aside>
    </div>
</body>
</html>
