
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/GlobalStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h2>XXX Ultimate Promotion Page XXX</h2>
    </header>  
    <div id="Links">
        <a href="/">Home</a>
        |
        <a href="/Home/About">About</a>
    </div>
    <hr id="LinkSeperator"/>

    <p>Välkommen!</p>
</body>
</html>
